#root {
  width:100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.logo {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 4em;
  width: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.WarnMessage {
  background-color: #ffcccb;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 80px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.code {
  margin-top: 80px;
}