.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 100px; 
  }
  
  .title {
    text-align: center;
    color: #333;
    font-size: 22px;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #444;
    font-family: 'Arial', sans-serif;
  }
  
  .form-input,
  .form-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
  }
  
  .form-input:focus,
  .form-select:focus {
    border-color: rgb(125, 165, 188);
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
  }
  
  .submit-button {
    padding: 10px 15px;
    background-color: rgb(125,165,188);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
    background-color: #44788b;

  }